<!DOCTYPE html>
<html>
<title> Catch The Phrase </title>

<div id="post_show">
  <h1>Catch The Phrase</h1>
  <br><br><br>
  <div class="clearfix">
    
    <div class="post_image_description">
      <%= image_tag 'catch.jpg' %>
	  <br><br><br>
      <div class="description">
        <%= simple_format "You certainly no stranger to TV game 'Chasing Pictures Getting word' right? It is interesting to discover for themselves the unique meaning of stories, humor, fun, surprise ... of the words hidden behind the familiar image. You can not stop laughing when opened the answers, the images seemed irrelevant, but when coupled together to form the interesting words. Also attending the game Catching Phrase to the laughter, plus you do not forget to save the location for acchievement!" %>
      </div>
    </div>
    <div class="post_data">
	  <br>
      <%= link_to "Play Game", game1_play_path(:level => current_user.lvgame1), class: "button" %>
      <%= link_to "Instructions", game1_instruction_path, class: "button" %>
      
    </div>

  </div>
</div>
</html>


