<!DOCTYPE html>
<html>
<head>
	<title>Catch The Phrase</title>
</head>
<body>
<ul>
	<li><%= link_to 'Play the game', game1_play_path %></li>
	<li><%= link_to 'Read the instruction', game1_instruction_path %></li>
</ul>
</body>
</html>