<!DOCTYPE html>
<html>
<title> Catch The Phrase </title>

<div id="post_show">
  <h1>Catch The Phrase</h1>
  <br><br><br>
  <div class="clearfix">
    
    <div class="post_image_description">
      <%= image_tag 'catch.jpg' %>
	  <br><br><br>
      <div class="description">
        <%= simple_format "Entering the game, player has to answer the questions when watching the pictures. The attraction of the game is that the player should closely follow the suggestion in the pictures to get the answer. Then, just fill the answer in the blank. When you get the right answer, you win!" %>
      </div>
    </div>
    <div class="post_data">
	  <br>
	  <%= link_to "Play Game", game1_play_path(:level => current_user.lvgame1), class: "button" %>
      <%= link_to "Instructions", game1_instruction_path, class: "button" %>
      
    </div>

  </div>
</div>
</html>


