<!DOCTYPE html>
<html>

<title>Welcome</title>

<div class="post">
<h1><center>
	<br>
    <b>Level: 1 </b>
	<br><br><%=image_tag(@game1link, :size =>"450x450", :class => "game_image") %>
	<!-- <br><% @game1 %></br> -->
</center></h1>
</div>

<body><center>
	
	<br><b>Answer: </b><br><br>
	<input class="textbox_game" type="text" id="answer"><br><br>

	<button class="button_game" style="vertical-align:middle" onclick="check()"><span>Submit </span></button>
	
	<script>
	function check (){
		var str = document.getElementById("answer").value;
		var testing = str.toLowerCase();

		if (testing==@game1answer)
		{	
			window.alert("You are right");
			// usergame1lv++
		}
		else
		{
			window.alert("You are wrong");
			// reload
		}
	}
	</script>

</center></body>

</html>