<!-- This is about our web application of famous gameshows on TV. Let's play with us! -->

<!DOCTYPE html>
<html>
<title> TELEGAME </title>

<div id="post_show">
  <h1>ABOUT</h1>
  <br><br><br>
  <div class="clearfix">
    
    <div class="about_image">
      <%= image_tag 'poster_6034.jpg' %>
	  <br><br><br>
      <div class="about">
        <%= simple_format "♚Bạn đang buồn phiền vì chuyện ân ái, không thoải mái trong lúc thẩm du, bạn cảm thấy ngu trong chuyện tình dục và lục đục trong chuyện tình yêu, cảm thấy không phiêu mỗi khi xếp hình, bạn làm tình không suy nghĩ, đang bị trĩ mà không biết hỏi ai, hay bị giang mai mà giấu giếm, hay là chơi điếm bị sida mà không dám nói ra.

			♚Không sao, hãy đến với chúng tôi, nơi mà những tâm tư thầm kín được giấu kín bằng những phương pháp mã hoá bảo mật nhất, một nơi chân thật, một nơi chấp nhận tất cả các khúc mắc về tình yêu, tình dục, tình đồng chí, tình xã giao. Hãy mạnh dạn đăng ký tài khoản và tham gia chơi game để có được những phút giây thoải mái nhất, rất mong được sự ủng hộ của tất cả các bạn !" %>
      </div>

  </div>
</div>
</html>


