<!-- This is about our web application of famous gameshows on TV. Let's play with us! -->

<!DOCTYPE html>
<html>
<title> TELEGAME </title>

<div id="post_show">
  <h1>ABOUT</h1>
  <br><br><br>
  <div class="clearfix">
    
    <div class="about_image">
      <%= image_tag 'poster_6034.jpg' %>
	  <br><br><br>
      <div class="about">
        <%= simple_format "♚ICTGroup4 consists of 5 members:
          * Ngo Sy Tung Lam
          * Ngoc An
          * Le Quoc Dat
          * Duong Hoang Linh
          * Do Dang Ngoc Kha
        All of us are studying ICT at USTH.

			♚TELEGAME is our project about Development Project Tools & Practices. We have developed a web game in order to show. Thanks for watching !" %>
      </div>
    </div>
    

  </div>
</div>
</html>


