<!DOCTYPE html>
<html>
<head>
	<title>Achievement</title>
</head>
<h1><center> Achievement </center>
	<br><br> Level: <%= current_user.lvgame1.inspect %> <br>
	Ruby: <%= current_user.rubynumber.inspect %> </h1>
</html>