<h3>Choose a game to play</h3>

<% if user_signed_in? -%>
	<h2><center><%= link_to "Catch the phrases", game1_path %></center></h2>
<% else -%>
	<h2><center><%= link_to 'Catch the phrases', new_user_session_path %></center></h2>
<% end -%>